@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

    /* * {
        outline: 1px dashed red;
    } */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

header {
    height: 200px;
    font-family: 'Hedvig Letter Sans', sans-serif;
    color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/mikulas-2021.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ff1a1a;
}

.nav-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.navbtn {
    font-family: 'Hedvig Letter Sans', sans-serif;
    font-size: larger;
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    color: #fefefe;
    border-right: 1px solid rgb(255, 53, 53);
}

.collapse {
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: none;
    background-image: url(../svg/menu_FILL0_wght200_GRAD0_opsz24.svg);
    background-size: 34px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.collapse.active {
    background-image: url(../svg/close_FILL0_wght200_GRAD0_opsz24.svg);
}

.navbtn:hover {
    background-color: rgb(255, 53, 53);
}

.collapsed-nav {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.collapsed-nav.active {
    height: 190px;
    transition: .3s ease-in-out;
}

.collnava {
    width: 100%;
}

.collnavbtn {
    width: 100%;
    font-family: 'Hedvig Letter Sans', sans-serif;
    font-size: larger;
    background-color: transparent;
    border: none;
    padding: 8px 0px;
    color: #fefefe;
    text-align: center;
}

.collnavbtn:hover {
    background-color: rgb(255, 53, 53);
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.sec1, .sec2, .sec3, .sec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px 20px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    width: 350px;
    height: 600px;
    font-family: 'Hedvig Letter Sans', sans-serif;
}

.img1, .img2, .img3, .img4 {
    width: 100%;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #333333;
}

.footer-items {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footbtn {
    padding: 20px;
    font-size: larger;
    font-family: 'Hedvig Letter Sans', sans-serif;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #fefefe;
}

.footbtn:hover {
    background-color: #696969;
}

/* Responsive view */

@media (max-width:750px) {
    footer {
        height: auto;
    }

    .footer-items {
        flex-direction: column;
        margin: 10px 0px;
    }
}

@media (max-width:600px) {
    .nav-items {
        flex-direction: row-reverse;
    }

    .navbtn {
        display: none;
    }

    .collapse {
        display: block;
    }
}